{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>

    #todoList {
        margin-left:0.1em;
        margin-right:0.2em;
        -moz-column-width: 23em;
        -webkit-column-width: 23em;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
    }

    .todoHolder {
        padding: 2em 1em 2em 1em;
        display: inline-block;
        width: 100%;
        cursor:pointer;
    }

    .todo {
        position: relative;
        text-align: center;
        padding: 1em 1.5em;
        background-color: #eaeaea;
        transition: 0.2s;
    }
    .todo:hover {
      transform: scale(1.1, 1.1);
    }
    .todo:before {
        content: "";
        position: absolute;
        top:0;
        display: block;
        width: 0;
        right: 0;
        border-width: 0 3em 3em 0;
        border-style: solid;
        border-color: lightgray #F5F5F5;
        transition: 0.2s;
    }
    .todo:hover:before {
        border-width: 0 0 0 0;
    }

    .todo:hover #remove {
        display:block;
        visibility: visible;
    }

    .todo h3 {
        font-family: "Droid Serif";
        font-size: 1.3em;
    }

    a {
        text-decoration: none !important;
    }

    #remove {
        width:25px;
        height:25px;
        float:right;
        visibility: hidden;
    }

    #remove:hover div {
        background: #1ebcc5;
    }

    .segment1 {
        height:25px;
        width:2px;
        margin-left:12px;
        background-color:black;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari and Chrome */
        z-index:1;
    }

    .segment2 {
        height:25px;
        width:2px;
        background-color:black;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
        z-index:2;
    }

    
</style>
{% endblock %}

{% block body %}
    <h1>Here are all your tasks</h1>
    <input id="content" size="35" placeholder="What needs to be done?" autofocus>
    <button id="all" type="button" class="btn btn-primary">All</button>
    <button id="active" type="button" class="btn btn-info">Active</button>
    <button id="completed" type="button" class="btn btn-success">Completed</button>
    <button id="completeAll" type="button" class="btn btn-warning">Toggle completion of ALL</button>
    <button id="clearCompleted" type="button" class="btn btn-danger">Clear Completed</button>
    <div class="row" id="todoList">
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var $todoTemplate = $('\
        <div class="todoHolder" ondblClick="EditTodo($(this))">\
                <div class="todo">\
                    <div id="remove" onClick="RemoveTodo($(this))"><div class="segment1"><div class="segment2"></div></div></div>\
                    <input type="checkbox" id="completed" value="1" style="float:left" onCLick="CompleteTodo($(this))"/>\
                    <h3>Article Title</h3>\
                </div>\
        </div>\
    ');

    function EditTodo($todo) {
        var $original = $todo.find('h3');
        var originalText = $original.text();
        var todoId = $todo.find('.todo').attr('id');
        var $tempTextInput = $("<textarea />");
        $tempTextInput.text(originalText);
        $tempTextInput.attr("id", "tempTextArea");
        $original.replaceWith($tempTextInput);
        $tempTextInput.focus();

        $tempTextInput.focusout(function() {
            var $newBody = $("<h3 />");
            $newBody.text(originalText);
            $tempTextInput.replaceWith($newBody);
        });

        $tempTextInput.keydown(function(key) {
            if(key.which == 13) {
                var newText = $tempTextInput.val();
                if ( newText == '') {
                    alert('You cannot have an empty text field for a task');
                } else {
                    UpdateBody($tempTextInput.val(), todoId);
                    originalText = $tempTextInput.val();
                    $tempTextInput.focusout();
                }
            }
        });


    };

    function UpdateBody( newText, id) {
        $.post("{{ path('update_body') }}",
        {
            newBody: newText,
            id: id
        });
    }

    function CreateTodo(todo) {
        var $newTodo = $todoTemplate.clone();
        $newTodo.find('h3').text('' + todo['body']);
        $newTodo.find('.todo').attr('id',('' + todo['id']));
        $newTodo.find('input').prop( "checked", todo['completed'] );
        $("#todoList").prepend($newTodo);
    };

    function GetTodos() {
        $.get("{{ path('show_todos') }}", function(result){
            $.each(result['todo_ids'], function(i, todo){
                CreateTodo(todo);
            });
        });
    };

    function CompleteTodo($completedTodo) {
        var todoId = $completedTodo.parent().attr('id');
        $.post("{{ path('complete_todo') }}", { id: todoId });
    };

    function RemoveTodo($removedItem) {
        var todoId = $removedItem.parent().attr('id');
        $.post("{{ path('remove_todo') }}", { id: todoId});
        $removedItem.parent().parent().remove();
    };


    $(document).ready(function(){
        GetTodos();

        $("#content").keydown(function(key) {
            if(key.which == 13) {
                var bodyVal = $('#content').val();
                $.post("{{ path('create_todo') }}",
                {
                    body: bodyVal
                }, function(newTodo){
                    CreateTodo(newTodo);
                });
                $("#content").val('');
            }
        });

        $("#completeAll").click(function(){
            $.get("{{ path('complete_all') }}", function(response){
                if (response['action'] == 'makeAllFalse'){
                    $('input[type="checkbox"]').prop( "checked", false );
                } else {
                    $('input[type="checkbox"]').prop( "checked", true );
                };
            });
        });

        $("#clearCompleted").click(function(){
            $.get("{{ path('clear_completed') }}", function(result){
                $.each(result['removed_item_ids'], function(i, todo){
                    $("#" + todo['id']).parent().remove();
                });
            });
        });

        $("#all").click(function(){
            $(".todoHolder").css("display", "inline-block");
        });

        $("#active").click(function(){
            $('.todoHolder').each(function () {
                var completed = $(this).find("#completed").prop("checked");
                if (completed) {
                    $(this).css("display", "none");
                } else {
                    $(this).css("display", "inline-block");
                }
            });
        });

        $("#completed").click(function(){
            $('.todoHolder').each(function () {
                var completed = $(this).find("#completed").prop("checked");
                if (completed) {
                    $(this).css("display", "inline-block");
                } else {
                    $(this).css("display", "none");
                }
            });
        });
    

    });
</script>


{% endblock %}
